* {
  border: 0;
  font-family: 'lato'; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black; }

.Button a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  height: 30px;
  width: 150px;
  border: none;
  background-color: #03045e;
  padding-left: 10px;
  padding-right: 10px; }
  .Button a:hover {
    background-color: #E8630A;
    color: white; }

.FooterButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  height: 25px;
  width: 255px;
  border-width: 1px;
  background-color: #f0a202;
  margin-top: 10px; }
  .FooterButton a:hover {
    color: white; }

.PHLine {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; }

.TituloHeader {
  font-family: 'lato';
  font-weight: 900;
  font-size: 50px; }

.HeaderMenu a:link {
  text-decoration: none;
  color: #03045e;
  font-weight: 600; }

.HeaderMenu a:hover, .HeaderMenu a:active {
  text-decoration: none;
  color: #E8630A; }

.SectionTitle1 {
  line-height: 200%;
  color: #03045e; }
  .SectionTitle1 h1 {
    font-weight: 600; }

.SectionText p {
  width: 80%;
  margin-bottom: 3%;
  margin-top: 3%; }

@keyframes animacion1 {
  10% {
    width: 40px; }
  20% {
    width: 80px; }
  30% {
    width: 120px; }
  40% {
    width: 160px; }
  50% {
    width: 200px; }
  60% {
    width: 240px; }
  70% {
    width: 280px; }
  80% {
    width: 320px; }
  90% {
    width: 360px; }
  100% {
    width: 400px; } }

.SectionImage img {
  width: 400px;
  animation-name: animacion1;
  animation-duration: 0.5s; }

#Inicio2 h2 {
  font-size: x-large;
  font-weight: 800;
  color: #03045e; }

.IconItem img {
  width: 70px;
  height: 70px; }

.IconNumber {
  font-size: xx-large;
  font-weight: 800;
  color: #03045e;
  margin-bottom: 0px; }

.IconText {
  font-size: medium;
  color: gray; }

.SectionPreTitle h1 {
  font-size: large;
  font-weight: 600;
  margin: 0px;
  color: #f0a202; }

.Section2Title1 {
  margin-top: 10px; }
  .Section2Title1 h1 {
    font-size: xx-large;
    margin: 0px;
    font-weight: 700;
    color: #03045e; }

.SectionListItem {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center; }
  .SectionListItem img {
    width: 50px;
    height: 50px; }

.SectionListItemText {
  margin-left: 20px; }
  .SectionListItemText h3 {
    margin: 0px;
    color: #03045e;
    font-size: larger;
    font-weight: 600; }
  .SectionListItemText p {
    margin: 0px;
    margin-top: 5px;
    font-size: medium;
    font-weight: 500;
    width: 90%; }

.imgizq img {
  width: 600px; }

.CheckList {
  margin-top: 15px;
  margin-bottom: 50px; }

.CheckListItem {
  display: flex;
  flex-direction: row; }
  .CheckListItem img {
    width: 25px;
    height: 25px; }
  .CheckListItem p {
    margin-left: 10px; }

.ServiceItem {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ServiceIcon img {
  width: 200px;
  height: 200px; }

.ServiceText {
  font-family: 'Lato';
  font-size: large;
  font-weight: 600;
  color: #03045e;
  text-align: center; }

.Footer1 {
  justify-content: left; }

.FooterTitle {
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 20px; }

.FooterText1 {
  width: 85%;
  margin-bottom: 50px; }

.FooterIcon img {
  margin: 0px;
  margin-right: 10px; }

.Footer2 {
  align-items: left; }

.FooterSubTitle {
  font-size: large;
  font-weight: 600;
  margin-bottom: 20px; }

.FooterMenu {
  display: flex;
  flex-direction: column;
  row-gap: 20px; }

.FooterMenuItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center; }

.FooterArrow {
  margin: 0px;
  width: 20px;
  height: 20px; }

.FooterLink {
  font-size: medium;
  text-decoration: none;
  color: #03045e;
  font-family: 'Lato';
  font-weight: 500; }

.Footer3 {
  padding-left: 0%;
  justify-content: left;
  align-items: left; }

.Footer4 {
  display: flex;
  flex-direction: column;
  padding-left: 2%; }

.FooterText2 {
  width: 100%; }

form input {
  border-radius: 15px;
  height: 25px;
  width: 250px;
  border-width: 1px; }

.FooterLine {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px; }

.ServiciosSection1Title h1 {
  font-family: 'Lato';
  font-weight: 600;
  font-size: xx-large;
  color: black; }

.ServiciosSection1Breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #03045e;
  column-gap: 5px; }

.BreadcrumbItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.BreadLink {
  text-decoration: none; }

.BreadCrumb {
  width: 15px;
  height: 15px;
  margin-right: 5px; }

.SectionTextCenter p {
  width: 70%; }

.serviciosseccion3 {
  margin-top: 50px; }

.seccionser {
  margin-top: 30px; }

.PreciosA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 200px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  background-color: #03045e;
  border-radius: 10px; }

.TituloPreciosA {
  font-size: x-large;
  font-weight: 700;
  color: white;
  margin-left: 33%; }

.ListaPrecioA {
  display: flex;
  flex-direction: column;
  color: white;
  font-style: oblique; }

.CostoA {
  margin-left: 25%;
  font-size: large;
  color: #f0a202;
  font-weight: 600;
  font-style: italic; }

.PreciosB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 200px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  background-color: #f0a202;
  border-radius: 10px; }

.TituloPreciosB {
  font-size: xx-large;
  font-weight: 900;
  color: white;
  margin-left: 30%; }

.ListaPrecioB {
  display: flex;
  flex-direction: column;
  color: white;
  font-style: oblique; }

.CostoB {
  margin-left: 25%;
  font-size: large;
  color: #03045e;
  font-weight: 600;
  font-style: italic; }

.Formulario {
  display: flex;
  font-family: 'Lato';
  align-items: center; }

.FormSection {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  font-family: 'Lato';
  font-size: large;
  font-weight: 600;
  color: #03045e; }

label {
  margin-bottom: 5px; }

.FormText {
  border-radius: 10px;
  border-width: 1px;
  height: 20px; }
